# Composer Dependencies
app/vendor/

# Log files and directories
/logs/

# IDE & Editor specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Swap files
*.swp
*.swo

# Runtime files
*.pid
